body {
    background-color: rgb(34, 91, 126);
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.title {
    text-align: center;
    color: rgb(255, 208, 0);
    font-size: 50px;
}

.rule {
    text-align: center;
    margin-top: 25px;
    color: aliceblue;
}

.buttonContainer {
    display: flex;
    justify-content: center;

}

.button {
    margin: 20px;
    height: 75px;
    width: auto;
}

.imgWrap {
    transition: .15s;
}
.imgWrap:hover{
    transform: scale(1.5);
    z-index: 2;
}

.container {
    display: flex;
    flex-direction: column;
    align-items:center;
}

footer{
    background-color: rgb(0, 41, 71);
    color: aliceblue;
    display: flex;
    font-size: 8px;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    height: 25px;
}