body {
    background-color: rgb(39, 75, 98);
}

.title {
    text-align: center;
    color: rgb(255, 226, 37);
}

.rule {
    text-align: center;
    margin-top: 50px;
    color: aliceblue;
}

.buttonContainer {
    display: flex;
    justify-content: center;

}

.button {
    margin: 20px;
    height: 75px;
    width: auto;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}